:root {
  --primary-color: #007acc;
  --primary-color: #007acc;
  --secondary-color: #66BB6A;
  --accent-color: #4FC3F7;
  --background-color: #F0F4F8;
  --text-color: #4A4A4A;
  --secondary-text-color: #f7f7f7;
  --link-color: #4FC3F7;
  --link-hover-color: #4FC3F7;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  ;
}

/* Header */
header {
  background-color: var(--primary-color);
  background-color:var(--primary-color) ;
  color: white;
  padding: 20px;
  text-align: center;
}



/* Navigation */
nav {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  min-height: 60px;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  margin: 0;
  padding:around ;
}:hover {
  background-color: white;
  color: var(--primary-color);
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
}

/* Sections */
section {
  padding: 40px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007acc;
}

/* Projects */
.filter-buttons {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.filter-buttons button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--background-color);
  border-radius: 5px;
  outline-color: var(--primary-color);
}

.filter-buttons button.active {
  background-color: var(--primary-color);
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* Allows wrapping if necessary */
  gap: 20px;
  /* Adds space between cards */
  justify-content: center;
  /* Centers cards in the container */

}

.card {
  width: 200px;
  padding: 15px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  cursor: pointer;
}

.card-link {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.card-link:hover {
  background-color: #3e8e41;
}

.hidden {
  display: none;
}

/* Resume Button */
.resume-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007acc;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.resume-button:hover {
  background-color: #005f99;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007acc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005f99;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #007acc;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

