header
  img(src="http://projects.lollypop.design/job-listing/bg-header-desktop.svg" alt="header")

main
  .container
    .row
      .col-12
        .filter-tags-c
          ul#filter-tags-list
          p.clear-tags#js-clear-tags Clear
    .row
      ul.col-12#job-list
        li.job-card.new.featured
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/photosnap.svg")
              div
                .d-flex.align-items-center
                  p Photosnap
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Senior Frontend Developer
                ul
                  li 1d ago
                  li Full Time
                  li USA Only
          ul.job-card__tags
            li Frontened
            li Senior
            li HTML
            li CSS
            li JavaScript

        li.job-card.new.featured
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/manage.svg")
              div
                .d-flex.align-items-center
                  p Manage
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Fullstack Developer
                ul
                  li 1d ago
                  li Part Time
                  li Remote
          ul.job-card__tags
            li Fullstack
            li Midweight
            li Python
            li React

        li.job-card.new
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/account.svg")
              div
                .d-flex.align-items-center
                  p Account
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Junior Frontend Developer
                ul
                  li 2d ago
                  li Part Time
                  li USA Only
          ul.job-card__tags
            li Frontened
            li Junior
            li React
            li Sass
            li JavaScript

        li.job-card
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/myhome.svg")
              div
                .d-flex.align-items-center
                  p MyHome
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Junior Frontend Developer
                ul
                  li 5d ago
                  li Contract
                  li USA Only
          ul.job-card__tags
            li Frontened
            li Junior
            li CSS
            li JavaScript

        li.job-card
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/loop-studios.svg")
              div
                .d-flex.align-items-center
                  p Loop Studios
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Software Engineer
                ul
                  li 1w ago
                  li Full Time
                  li Worldwide
          ul.job-card__tags
            li FullStack
            li Midweight
            li JavaScript
            li Sass
            li Ruby

        li.job-card
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/faceit.svg")
              div
                .d-flex.align-items-center
                  p FaceIt
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Senior Frontend Developer
                ul
                  li 2w ago
                  li Full Time
                  li UK only
          ul.job-card__tags
            li Backend
            li Junior
            li Ruby
            li RoR

        li.job-card
          .job-card__info
            .d-md-flex.align-items-center
              .img-c
                img(src="http://projects.lollypop.design/job-listing/shortly.svg")
              div
                .d-flex.align-items-center
                  p Shotly
                  p.tag-new New!
                  p.tag-featured Featured
                a(href="javascript:void(0)")
                  h6 Junior Developer
                ul
                  li 1w ago
                  li Full Time
                  li Worldwide
          ul